body {
    margin: 0;
    padding: 0;
}

.bg {
    position: absolute;
    height: 100vh;
    width: 300vw;
    top: 0;
    left: 0;
    display: flex;
    background: url(../static/mountains.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
