body {
    margin: 0;
    padding: 0;
}

.bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    background: url(../static/mountains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}

.nav {
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}

.nav__logo {
    font-size: 1.5rem;
    margin: auto 1rem;

}

.nav_menu{
    margin: 0;
    padding: 0;
    display: flex;
}
